
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using MobilePhoneStore.Models
@{
    var product = ViewData["Product"] as IEnumerable<Product>;
}
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-0 justify-content-end">
                        <div class="card-body">
                            <a href="/Admin/Product/Create" class="btn btn-primary btn-sm float-right">Thêm sản phẩm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body pt-0">
                                <h4 class="card-title">Tìm kiếm sản phẩm</h4>
                                <div class="form-group col">
                                    <input type="text" class="form-control" id="fname" placeholder="Nhập tên sản phẩm, danh mục hoặc màu sắc, ...">
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body justify-content-end float-right">
                                    <button type="button" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Danh sách sản phẩm</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Hình ảnh</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">Giá cũ</th>
                                    <th scope="col">Giá mới</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Danh mục</th>
                                    <th scope="col">Sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (product == null)
                                {
                                    <tr>
                                        <td colspan="9">Không có sản phẩm nào</td>
                                    </tr>
                                }
                                else
                                {
                                    int i = 1;
                                    foreach (var item in product)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td><img src="@item.ImageThumbnail" style="width:75px;height:75px;" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.SKU</td>
                                            <th scope="col">@item.OldPrice</th>
                                            <th scope="col">@item.Price</th>
                                            <th scope="col">@item.Quantity</th>
                                            <th scope="col">@item.Model</th>
                                            <th scope="col"><a href="/Admin/Product/Edit?id=@item.Id" class="btn btn-sm btn-primary"><i class="mdi mdi-table-edit"></i> Sửa</a></th>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
        </footer>
    </div>
    @section scripts{}