@{
    ViewData["Title"] = "Home Page";
}
@using MobilePhoneStore.Models.ViewModels
@{
    var cart = ViewData["Cart"] as List<Cart>;
}
<div class="shopping_cart_area mt-60">
    <div class="container">
        <form method="post" asp-action="BuyProduct" asp-controller="Cart">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Xóa</th>
                                        <th class="product_thumb">Hình ảnh</th>
                                        <th class="product_name">Tên sản phẩm</th>
                                        <th class="product-price">Giá bán</th>
                                        <th class="product_quantity">Số lượng</th>
                                        <th class="product_total">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (cart != null)
                                    {
                                        foreach (var item in cart)
                                        {
                                            <tr>
                                                <td class="product_remove"><a asp-controller="Cart" asp-action="RemoveCart" asp-route-id="@item.Product.Id"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="#"><img src="@item.Product.ImageThumbnail" alt=""></a></td>
                                                <td class="product_name"><a href="#">@item.Product.Name</a></td>
                                                <td class="product-price">@item.Product.Price</td>
                                                <td class="product_quantity"><label>Số lượng</label> <input min="1" max="100" disabled value="@item.Quantity" type="number"></td>
                                                <td class="product_total">@ViewData["Total"]</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6"><h5>Không só sản phẩm nào trong giỏ hàng</h5></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button type="submit">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <!--coupon code area end-->
        </form>
    </div>
</div>